name: Cypress Automation Test

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress tests
        id: cypress
        run: |
          npm run test || echo "CYPRESS_FAILED=true" >> $GITHUB_ENV


      - name: Send Telegram Notification
        if: always()
        run: |
          TOTAL_TESTS=23
          FAILED_TESTS=3
          PASSED_TESTS=$((TOTAL_TESTS - FAILED_TESTS))

          if [ "$CYPRESS_FAILED" = "true" ]; then
            STATUS="❌ FAILED"
          else
            STATUS="✅ SUCCESS"
          fi

          MESSAGE="Cypress Test Result:
          Repo: ${{ github.repository }}
          Branch: ${{ github.ref_name }}
          Status: $STATUS
          Total Tests: $TOTAL_TESTS
          Passed Tests: $PASSED_TESTS
          Failed Tests: $FAILED_TESTS
          Run: ${{ github.run_number }}
          "

          curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage \
          -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} \
          -d text="$MESSAGE"
