name: Cypress Automation Test (Docker)

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  cypress-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t cypress-test .

      - name: Run Cypress tests (Docker)
        run: |
            mkdir -p results
            docker run --rm \
            -v ${{ github.workspace }}/results:/app/results \
            cypress-test || echo "CYPRESS_FAILED=true" >> $GITHUB_ENV

      - name: Send Telegram Notification
        if: always()
        run: |
          TOTAL_TESTS=23
          FAILED_TESTS=3
          PASSED_TESTS=$((TOTAL_TESTS - FAILED_TESTS))

          if [ "$CYPRESS_FAILED" = "true" ]; then
            STATUS="❌ FAILED"
          else
            STATUS="✅ SUCCESS"
          fi

          MESSAGE="Cypress Test Result (Docker):
          Repo: ${{ github.repository }}
          Branch: ${{ github.ref_name }}
          Status: $STATUS
          Total Tests: $TOTAL_TESTS
          Passed Tests: $PASSED_TESTS
          Failed Tests: $FAILED_TESTS
          Run: ${{ github.run_number }}
          "

          curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage \
          -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} \
          -d text="$MESSAGE"

      - name: Extract failed tests
        if: always()
        run: |
          if [ -f results/results.json ]; then
            FAILED_TESTS=$(jq -r '
            .tests[] | select(.state=="failed") |
            "- " + .title
            ' results/results.json)
          else
            FAILED_TESTS="No results.json found"
          fi

            echo "FAILED_TESTS<<EOF" >> $GITHUB_ENV
            echo "$FAILED_TESTS" >> $GITHUB_ENV
            echo "EOF" >> $GITHUB_ENV

